.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    background-color: #344b5b;
    height: 125px;
  }
  
  .header h1 {
    display: flex;
    padding-left: 5px;
    margin: 0px;
    margin-top: 2px;
    font-size: 50px;
    font-family: 'Aleo', sans-serif;
    color: white;
  }

  .header h2 {
    display: flex;
    padding-left: 5px;
    margin: 0px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
  }