article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #344b5b;
  margin-top: -2.5rem;
  height: 90vh
}

.details-container {
  display: flex;
  /* justify-content: space-around; */
  border: 3px solid #333333;
  border-radius: 15px;
  background: white;
  width: 80%;
}

.resource-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25%;
  padding: 1em;
}

.resource-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40em
}

.single-name {
  font-family: 'Aleo', sans-serif;
  font-size: 2em;
  margin: 0;
}

.single-details,
.single-intention,
.single-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  text-align: left;
  margin: 0;
  width: 100%;
  background-color: #f0f6fa;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.single-details h3 {
  font-family: 'Aleo', sans-serif;

}
.single-intention h3 { 
  font-family: 'Aleo', sans-serif;
}

.single-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  text-align: left;
  margin: 0;
  width: 100%;
  background-color: #f0f6fa;
  padding: 1em;
}

.single-details-p,
.single-intention-p,
.single-link-p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  font-size: 1em;
  text-align: left;
  margin: 0;
}



.single-type {
  font-size: .75em;
}

.single-type-image {
  display: flex;
  align-items: center;
  justify-content: center;
  border: .5em solid #72788D;
  border-radius: 10px;
  height: 10em;
  width: 10em;
}

.back-to-all-resources-button-container {
  display: flex;
  width: 90%;
  align-items: flex-start;
  height: 23%;
}

.back-to-all-resources-button {
  top: 2rem;
}

.back-to-all-resources-button {
  padding: 10px 40px;
  background: #000;
  border:0;
  color: #fff;
  text-transform: uppercase;
  font-family: helvetica;
  font-size: 15px;
  letter-spacing: 3px;
  position: relative;
  transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  display: block;
  margin: 40px auto;
  border-radius: 20px;
}

.back-to-all-resources-button:hover{
  padding: 15px 20px ;
}

.spirals-container {
  margin: 1rem 0;
} 
